/* Have fun. This is your site. */

body {
  background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;
}

h1{
  color: black;
  text-align: center;
}

p{
  color: black;
}

h2{
  color: black;
  text-align: center;
}

ul#myLinks {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul#myLinks li {
  display: inline-block;
  margin: 0 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: black;
}