/* Have fun. This is your site. */

body {
  background: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?cs=srgb&dl=pexels-adrien-olichon-1257089-2387793.jpg&fm=jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;
}

h1{
  color: white;
  text-align: center;
}

p{
  color: white;
}

h2{
  color: white;
  text-align: center;
}

ul#myLinks {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul#myLinks li {
  display: inline-block;
  margin: 0 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: white;
}